<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style6.css')}}">
    <title>Login Form</title>
    </head>
<body>
  <div class="center">
    <h1>Login</h1>

    <form  action="/login" method="POST">
        <div class="txt_field">
            <input type="email" id="email" required name="email">
            <span></span>
            <label>email</label>
        </div>

        <div class="txt_field">
            <input type="password" id="password"required name="password">
            <span></span>
            <label>password</label>
        </div>
        <div class="signup_link">
        <input type="submit" value="Login">
            <p>Don't have an account ? <a href="/register">Register</a></p>
            <p>Back home: <a href="/main">Home</a></p>
        </div>
        </form>

</body>
